body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
           
            background-color: #f0f0f0; 
            border: 1px solid #ccc;   
            border-radius: 15px;      
}

        header {
            text-align: center;
            margin-bottom: 30px;
        }

        h1 {
            color: #333;
        }

        .container {
            max-width: 900px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .image-section {
            text-align: center;
            margin-bottom: 20px;
        }

        .image-section img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .description {
            line-height: 1.6;
            font-size: 14px;
            color: #000000;
            width: 50%;
            background-position: right center; 
            padding-right: 30px;
        }

        h2 {
            color: #444;
            margin-top: 30px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        footer {
            text-align: center;
            margin-top: 40px;
            font-size: 14px;
            color: #888;
        }
        

        .img {
          float: right;
          opacity: 0;
          margin-right: 95px;
        }

        .img:hover {
            opacity: 1;
        }
nav {
           
  width: 100%; 
  height: 75px; 
  background-color: #2f94f1;
  position: fixed;
  top: 0px;
  left: 0;
  box-sizing: border-box;
  font-size: 19px;
        }

nav a {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 170px; 
  text-decoration: none;
  color: #fff;
}
